    html,
    body,
    div {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .fl {
        float: left;
    }

    .fr {
        float: right;
    }

    /*成功页*/
    .main {
        margin: 0 auto;
        background-color: #87ceeb;
        height: 30%;
    }

    .success-logo {
        width: 196.5px;
        height: 28.5px;
        background: url("../icon/logo.png") left center no-repeat;
        margin-top: 30.5px;
        margin-right:auto;
        margin-left:auto;
        margin-bottom: 39px;
    }

    @media screen and (min-width:768px) {
        .success-logo {
            width: 400px;
            height: 60px;
            background: url("../icon/logo@2x.png") left center no-repeat;
            margin-top: 30.5px;
            margin-right:auto;
            margin-left:auto;
            margin-bottom: 60px;
        }
    }

    .complete-logo {
        width: 64px;
        height: 64px;
        background: url("../icon/complete.png") left center no-repeat;
        margin: 30.5px auto;
    }

    @media screen and (min-width:768px) {
        .complete-logo {
            width: 130px;
            height: 130px;
            background: url("../icon/complete@2x.png") left center no-repeat;
            margin: 30.5px auto;
        }
    }

    .success-content {
        font-family: "Microsoft YaHei";
        padding-top: 15px;
        text-align: center;
        color: #a4a4a4;
        line-height:15px;
    }

    .success-content a {
        color: #49d51e;
    }